@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: 'Mulish';
    width: 100%;
    overflow-x: hidden;
}

.body.show {
    overflow: hidden;
}


header {
    padding-top: 15px;
    background-image: linear-gradient(#424242,#000000);
}

.linha {
    background-color: #FF6711;
    height: 1.2px;
    width: 92%;
    margin-left: 65px;
    margin-top: 9px;
}

.menu {
    display: flex;
    justify-content: center;
    font-family: Panchang-Semibold;
    background-color: rgba(66, 66, 66, 0.8);

}

.containerM {
    width: 100%;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.menu a {
    color: #FF6711;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
.dropdown {
    position: relative;
    font-family: Panchang-Light;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    font-family: Panchang-Light;
    background-color: #424242;
    min-width: 160px;
    z-index: 1;
}
.dropdown-content a {
    color: #FF6711;
    padding: 12px 16px;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {color:#9F97CA;}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    color:#9F97CA;
}

.menu-container a:hover {color:#9F97CA;}

.arrow1:hover {
    filter: invert(62%) sepia(84%) saturate(140%) hue-rotate(209deg) brightness(86%) contrast(91%);
}

.search-box {
    display: none;
}
.search-box.active {
    display: block;
}

.search-icon:hover {
    filter: invert(62%) sepia(84%) saturate(140%) hue-rotate(209deg) brightness(86%) contrast(91%);
}

.cityAndArrow1 {
    justify-content: flex-start;
    margin-left: 45px;
}

.LanguageAndArrow {
    justify-content: flex-start;
    margin-right: 90px;
}


/* MOBILE MENU HAMBURGUER ABERTO */

.container-mobile {
    position: relative;
}

.navbar-mobile {
    display: flex;
    align-items: center;
    font-family: Panchang-Semibold;
    justify-content: space-between;
    padding: 10px 20px;
    color: #424242;
    z-index: 1000;
    
}

.logo {
    width: 40%;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    height: 25px;
    min-width: 90px;
    position: fixed;
    right: 5px;
}

.lupa-container {
    display: flex;
    align-items: center;
    position: relative;
}

.search-icon {
    z-index: 1005;
}

.search-input {
    font-family: "Mulish";
    font-size: 14px;;
    margin-right: 10px;
    display: none;
    border: none;
    border-bottom: 1px solid #FF6711;
    background: none;
    color: #FF6711;
    outline: none;
    padding: 5px;
    margin-left: 5px;
    transition: width 0.3s ease;
    width: 0;
}

.search-input.show {
    display: inline-block;
    width: 130px;
}


.hamburger {
    cursor: pointer;
    z-index: 1001;
    width: 25px;
    height: 25px;
}

.bar {
    width: 25px;
    height: 4px;
    margin: 4px auto;
    background-color: #FF6711;
    transition: all 0.3s;
}

.hamburger.active .bar:first-child {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:last-child {
    transform: translateY(-8px) rotate(-45deg);
}

.sidebar {
    position: fixed;
    top: 66px; 
    right: -100%;
    width: 100%;
    height: calc(100% - 66px); 
    background: linear-gradient(to bottom, #D0CAE2 0%, #FDB38B 100%);
    color: #fff;
    transition: right 0.3s;
    z-index: 999;
}

.sidebar.show {
    right: 0;
    height: 100vh;
    margin-top: -66px;
}

.sidebar-content {
    padding: 15px;
}

.main-content {
    transition: margin-right 0.3s;
    display: none; 
}

.main-content.show {
    display: block; 
  }

.hidden {
    display: none;
}

.menu-mobile {
    font-family: Panchang-Semibold;
    display: flex;
    flex-direction: column;
    color: #424242;
    position: absolute;
    top: 50px;
    right: 20px;
    width: 250px;
    border-radius: 5px;
    overflow: hidden;
    justify-content: space-between;
    text-align: end;
    height: 90%;
}

.menumobileA{
    display: flex;
    flex-direction: column;
    height: 60%;
    font-size: 22px;
    margin-top: 80px;
}

.menumobileA :hover{
    color:#FF6711
}

.otherInfoMobile {

    margin-top: 100px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    justify-content: space-between;
    padding: 10px;
    height: 40%;
}
.socialmedia-menu{
    margin-top: 20px;
    justify-content: space-around;
}

.newslettermobile {
    font-family: "Panchang";
    font-weight: 400 !important;
}

.newslettermobile > button {
    background-color: transparent;
    border: none;
    appearance: none;
    color: #424242;
}

.menu-mobile a {
    padding: 10px;
    text-decoration: none;
    color: #424242; 
}

@media (min-width: 900px) {

    .menu-mobile {
        display: flex;
        flex-direction: row;
        position: static;
        background-color: transparent;
    }

    .menu-hamburger {
        display: flex;
    }

    .menu-hamburger.active {
        display: flex;
    }
    
    .menu-mobile a {
        padding: 10px 20px;
    }

    .hamburger {
        display: none;
    }

    .icons {
        display: none;
    }
}

/*VIDEO*/ 

.Scrolling-Text1{
    font-family: Panchang-Semibold;
    font-size: 75px;
    letter-spacing: 5px;
    -webkit-text-stroke: 1px #FF6711;
    color: transparent;

}


.titleHoje{
    color:#FF6711;
}

.titleAmanhã{
    color:#FF6711;
}
.neuraname{
    padding: 75px;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.socialmedia {
    justify-content: space-between;
    margin: 20px;
}

.mw-100 {
    margin: 10px;
}

.apresentation {
    margin-top: 175px;
}



.video {
    width: 100%;
    height: 50%;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 84% 90%, 84% 100%, 0 100%);
    border-radius: 15px;
    contain: content;
}

.image-container > video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter:grayscale(95%)
}

.botaoseeagenda{
    text-align: end;
}
.seeagenda {
    background-color: #FF6711;
    font-family: 'Mulish';
    color: #ffffff;
    font-weight: 700;
    border: none;
    padding: 8px 75px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.seeagenda:hover {
    background-color: #9F97CA;
    color: #ffffff;
}

.seeagenda:active {
    background-color: #ffffff;
    color: #FF6711;
    border: 2px solid #FF6711;
}

.video1 {
    object-fit: cover;
    overflow-clip-margin: content-box;
    overflow: clip;
    width: 100%;
}

.botaoseeagenda{
        display: flex;
        justify-content: end;
        position: relative;
        bottom: 45px;
}

/*EVENTOS HOJE E AMANHÃ*/ 

/*barra dos carrousseis personalizada*/ 
.carrousel1::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #CCCCCC;
}
.carrousel1::-webkit-scrollbar-button {
   background-color: #ffffff;
}
.carrousel1::-webkit-scrollbar-track {
    background: #ffffff;
}
.carrousel1::-webkit-scrollbar-track-piece {
    background: #ffffff;
}
.carrousel1::-webkit-scrollbar-thumb {
    background: #CECECE;
    border-radius: 5px;
}
.carrousel1::-webkit-scrollbar-corner {
    background: #ffffff;
    border-radius: 5px;
}
.carrousel1 textarea::-webkit-resizer {
    border: 1px #ffffff dashed;
}

.carrousel1::-webkit-scrollbar-button:start {
    display: none;
}
.carrousel1::-webkit-scrollbar-button:end {
    display: none;
}

.carrousel2::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #CCCCCC;
    margin: 10px;
}
.carrousel2::-webkit-scrollbar-button {
   background-color: #ffffff;
}
.carrousel2::-webkit-scrollbar-track {
    background: #ffffff;
}
.carrousel2::-webkit-scrollbar-track-piece {
    background: #ffffff;
}
.carrousel2::-webkit-scrollbar-thumb {
    background: #CECECE;
    border-radius: 5px;
}
.carrousel2::-webkit-scrollbar-corner {
    background: #ffffff;
    border-radius: 5px;
}
.carrousel2 textarea::-webkit-resizer {
    border: 1px #ffffff dashed;
}
.carrousel2::-webkit-scrollbar-button:start {
    display: none;
}
.carrousel2::-webkit-scrollbar-button:end {
    display: none;
}

.titletoday {
    color: #FF6711;
    font-family: Panchang-Bold;
    font-size: 25px;
    padding-top: 75px;
    padding-bottom: 25px;
}

.titletomorrow {
    color: #FF6711;
    font-family: Panchang-Bold;
    font-size: 25px;
    padding-top: 90px;
    justify-content: end;
    padding-bottom: 25px;
}

.carrousel1 {
    overflow: auto;
    overflow-y: hidden;
    contain: content;
    display: flex;
    column-gap: 30px;
    margin-left: 112px;
    padding-bottom: 10px;
}

.carrousel2 {
    overflow: auto;
    overflow-y: hidden;
    contain: content;
    display: flex;
    column-gap: 30px;
    margin-right: 112px;
    padding-bottom: 10px;
}

.card {
    height: 340px;
    background-color: #D4D1E6;
    border-radius: 10px;
    flex: 0 0 auto;
    width: 300px;
}


.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    filter: grayscale(100%);
    object-fit: cover;
    width: 100%;
    height: 50%;
}

.card-img-top:hover {
    filter: grayscale(0%);
}

.card-title {
    font-family: 'Mulish';
    font-weight: 800;
    font-size: 20px;
    color:#424242;
    padding-top: 5px;
}

.card-text {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 20px;
    color:#424242;
}

.btn:hover {
    filter: invert(17%) sepia(85%) saturate(15%) hue-rotate(24deg) brightness(102%) contrast(82%);
}


/* MODAL CONTENT */

#myBtn{
    border: none;
    background-color: #ffffff;
  }


  #myBtn > .header {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: start;
    align-items: center;
}



.content-zone {
    width: 43%;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 5px;
}

.titlesEvent {
    width: 100%;
    height: 90%;
    font-family: "Mulish";
    margin-top: 25px;
    margin-left: 10px;
}

.titlesEvent > h1 {
    font-size: 17px;
    font-weight: 900;
}

.titlesEvent > p {
    margin-top: 15px;
    line-height: 5px;
}
 .time{
    font-weight: 700;
 } 


  .modal-content {
    display:flex;
    align-items: center;
    background-color: #D9D5EA;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 95%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

/* CSS DO MODAL EVENTO SINGULAR */


.title { text-decoration: solid;
         font-weight: 700;
         color: #424242;
}


.containerevent {
    display: grid;
    background-color: #D9D5EA;
    align-items: center;
    justify-content: center;
}

.container{
    margin-bottom: 40px;
}

.imageEventX > img{
    filter: grayscale(0%)
}


.buttonX {
    background-color:#D9D5EA;
    border: none; 
}

.buttonX :hover {
    filter: invert(62%) sepia(85%) saturate(140%) hue-rotate(209deg) brightness(86%) contrast(60%);
}


.eventpart1{
    contain: content;
}

.imageEventX{
    width: 100% ;
    height:330px ;
    contain: content;
}

.imageEventX > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}

.buttonsGoandTickets{
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 18px;
    left: 5px;

}

.goTickets {
    background-color: #FF6711;
    border: none;
    height: 45px;
    width: 230px;
    color: white;
    font-family: 'Mulish';
    font-weight: 800;
    box-shadow: 0px 2px 4px #7c7c7c;
}

.goTickets:hover{
    background-color: #9F97CA;
}

.goTickets:focus{
    background-color: #9F97CA;
    color: #424242;
}


.button1 {
    border: none;
    background-color: white;
    padding: 0%;
    height: 45px;
    transition: width 1.5s ease-out;
}

.button1 > img{
    display: block;
}

.button1:hover > img{
    display: none;
}

.button1 > span {
    overflow: hidden;
    background-color: #ffffff;
    font-family: 'Mulish';
    font-size: 13px ;
    font-weight: 700;
    color: #FF6711;
    display: none;
}

.button1:hover > span {
    display: block;
    padding:10px;
}

.button1:focus > img{
    display: none;
}

.button1:focus > span {
    display: block;
    color: #9F97CA;
    padding:10px;
}

h4{
    color: #FF6711;
    font-weight: 400;
    font-size: 12px;
    font-weight: 600;
}
.model-content > p{
    font-size: 10px;
}



/*coluna direita- informaçao*/
.eventpart2{
 contain: content;
}

.infoAndButtonsViews{
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between
    
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info > p {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;

}

.buttonsviews{
    display: flex;
}

.textevent > p {
    font-family: "Mulish";
    font-size: 15px;
    margin: 0;
}

.textevent > h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.contactsEventText{
    display: flex;
    justify-content: space-between;
}

.contactsEventText > p {
    font-size:15px;
}

.textevent2 > p {
    font-size:15px;
}

.moredates > p {
    font-size:11px;
    margin: 0;
}

/*UPDATES*/
.Scrolling-Updates2 {
    font-size: 40px;
    font-family: Panchang-Bold;
    color: #424242;
    height: 60px;

}

.line2 {
    height: 60px;
}

.updates {
    background-color: #FF6711;
}

.updates-events {
    height: 400px;
    overflow: auto;
    overflow-y: hidden;
    overflow-x: scroll;
    contain: content;
    display: flex;
    align-items: center;
    margin-top: 45px;
}

.updates-events::-webkit-scrollbar {
    display: none;
}

.containerEventDateChange {
    min-width: 417px;
    height: 350px;
    margin-left: 20px;
}
.containerEventCancel {
    min-width: 320px;
    height: 350px;
    margin-left: 20px;
}

.image-container1 {
    width: 298px;
    height: 250px;
    transform: translateY(3.4rem);
    border-radius: 10px;
    contain: content;
    filter: grayscale(100%);
}

.image-container1>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.image-container1:hover {
    filter: grayscale(0%);
}

.image-container2 {
    width: 298px;
    height: 250px;
    border-radius: 10px;
    contain: content;
    filter: grayscale(100%);
}

.image-container2>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.image-container2:hover {
    filter: grayscale(0%);
}



.label-container1 {
    width: 250px;
    height: 70%;
    transform: translateY(-15.7rem) translateX(6rem);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%, 30% 35%, 0 35%);
    border-radius: 10px;
    background-color: #ffffff;
    transition: clip-path 0.5s ease, transform 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
}

.label-container1:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    align-items: center;
}

.content-zone {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Panchang-Semibold;
    color: #FF6711;
    font-size: 18px;
    transition: all 0.5s ease;
    margin-bottom: 5px;
}

.body-card1 {
    color: #FF6711;
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 15px;
    text-align: left;
    width: 100%;
    padding-left: 80px;
    transition: all 0.5s ease;
}

.body-card1 > h5 {
    width: 100%;
    padding-top: 20px;
    color: #FF6711;
    font-family: 'Mulish';
    font-weight: 700;
    text-align: left;
    transition: all 0.5s ease;
}

.body-card1 > p {
    color: #FF6711;
    width: 100%;
    font-family: 'Mulish';
    font-weight: 300;
    text-align: left;
    transition: all 0.5s ease;
    margin-bottom:0% !important;
}

.header1 {
    width: 100%;
    display: flex;
    justify-content: center;
    transition: all 0.5s ease;
    padding-top: 5px;
}

/* Centralize content when hovering */
.label-container1:hover .body-card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    text-align: center;
}

.label-container1:hover .body-card1 > h5,
.label-container1:hover .body-card1 > p {
    text-align: center;
    margin: 0;
}

.see-more-button2 {
    background-color: red;
    color: #424242 !important;
    border: none;
    /*padding: 10px 20px;*/
    border-radius: 5px;
    cursor: pointer;
    display: none; /* Inicialmente escondido */
    transition: opacity 0.3s ease;
    font-family: "Mulish";
    font-size: 12px;
}

.see-more-button2:hover {
    color: #9F97CA;
}


/*Card cancelled*/

.label-container2 {
    width: 250px;
    height: 70%;
    transform: translateY(-12rem) translateX(-3rem);
    clip-path: polygon(0 0, 70% 0, 70% 65%, 100% 65%, 100% 100%, 0 100%);
    border-radius: 10px;
    background-color: #424242;
    transition: clip-path 0.5s ease, transform 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
}

.label-container2:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    align-items: center;
}

.body-card2 {
    color: #FF6711;
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 15px;
    text-align: left;
    width: 72%;
    transition: all 0.5s ease;
}

.body-card2 > h5 {
    width: 100%;
    padding-top: 20px;
    color: #FF6711;
    font-family: 'Mulish';
    font-weight: 700;
    text-align: left;
    transition: all 0.5s ease;
}

.body-card2 > p {
    color: #FF6711;
    margin-top: 10px;
    font-family: 'Mulish';
    font-weight: 300;
    text-align: left;
    transition: all 0.5s ease;
}

.header2 {
    height: 100px;
    margin-top: 15px;
    margin-left: -3px;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: all 0.5s ease;
}

/* Centralize content when hovering */
.label-container2:hover .body-card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    text-align: center;
}

.label-container2:hover .body-card2 > h5 {
    margin-bottom: 10px !important;
    text-align: center;
    margin: 0;
}
.label-container2:hover .body-card2 > p {
    text-align: center;
    margin: 0;
}

.content-zone{
    display: flex;
    flex-direction: column;
}

.content-zone > p {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}
.see-more-button {
    background-color: transparent;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: none; /* Inicialmente escondido */
    transition: opacity 0.3s ease;
    font-family: "Mulish";
    font-size: 12px;
}

.see-more-button:hover {
    color: #9F97CA;
}




/*NEWSLETTER*/
.newsletter {
    background-color: #424242;
    padding-top: 75px;
    padding-bottom: 75px;
    margin-top: 120px;
}

.newslettertitle {
    color: #FF6711;
    font-family: Panchang-Bold;
    font-size: 30px;
    align-content: center;
}

.form-email {
    align-content: center;
}

.form-control {
    font-family: 'Mulish';
    color: #424242;
    border-radius: 8px;
}

.form-check-label {
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 15px;
    color: #ffffff;
}

.btn-nl {
    font-family: 'Mulish';
    color: #ffffff;
    font-weight: 700;
    background-color: #FF6711;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    border-radius: 8px;
    transition-duration: 0.4s;
    justify-content: end;
    align-content: center;
}

.btn-nl:hover {
    background-color: #9F97CA;
    color: #ffffff;~
}

.btn-nl:active {
    background-color: #ffffff;
    color: #FF6711;
    border: 2px solid #FF6711;
}







ul{
    list-style-type: none;
}
 
footer{
    background-color: #c3c3c3;
    bottom: 0;
    width: 100%;
}
 
.navbar{
    background-color: #d9d9d9;
    font-family: "Mulish";
    font-size: 10px;
}
 
.neurafooter{
    font-family: "Panchang";
    font-weight: 700;
    color:#8D8D8D;
    font-size: 25px;
}
 
.buttonsFooter{
    border: none;
    background-color: #dddddd;
}

.politicas{
    h6{
        font-family: "Mulish";
        font-size: 14px;
        color:#8D8D8D;
        font-weight: 500;
    }
}

.container-mobile {
    display: none;
}

@media only screen and (max-width: 900px) {
    footer {
      display: none;
    }

    .container-mobile {
        display: block;
    }

    .menu {
        display: none;
    }

    .titletoday {
        margin-left: 20px;
    }

    .carrousel1 {
        margin-left: 30px;
    }

    .titletomorrow {
        margin-right: 25px;
    }

    .carrousel2 {
        margin-right: 30px;
    }

    .titletomorrow {
        display: flex;
        text-align: end;
    }

}