
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: 'Mulish';
    color: #424242, 
}




.title { text-decoration: solid;
         font-weight: 700;
         color: #424242;
}


.containerevent {
    display: grid;
    background-color: #D9D5EA;
    height: 650px;
    width: 1200px;
    align-items: center;
    justify-content: center;
}

.container{
    margin-bottom: 40px;
}




.buttonX {
    background-color:#D9D5EA;
    border: none;
}

.event {
    height: 500px;
}

.eventpart1{
    contain: content;
}

.imageEventX{
    width: 100% ;
    height:330px ;
    contain: content;
}

.imageEventX > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.buttonsGoandTickets{
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 18px;
    left: 5px;

}

.goTickets {
    background-color: #FF6711;
    border: none;
    height: 45px;
    width: 230px;
    color: white;
    font-family: 'Mulish';
    font-weight: 800;
    box-shadow: 0px 2px 4px #7c7c7c;
}

.button1 {
    border: none;
    background-color: white;
    padding: 0%;
}

h4{
    color: #FF6711;
    font-weight: 400;
    font-size: 12px;
    font-weight: 600;
}
p{
    font-size: 10px;
}


/*coluna direita- informaçao*/
.eventpart2{
 contain: content;
}

.infoAndButtonsViews{
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between
    
}

.info {
    display: flex;
    align-items: center;
}

.info > p {
    font-size: 14px;

}

.buttonsviews{
    display: flex;
}

.textevent > p {
    font-family: "Mulish";
    font-size: 15px;
    margin: 0;
}

.textevent > h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.contactsEventText{
    display: flex;
    justify-content: space-between;
}

.contactsEventText > p {
    font-size:15px;
}

.textevent2 > p {
    font-size:15px;
}

.moredates > p {
    font-size:11px;
    margin: 0;
}